.logo {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-grow: 1;
  padding-right: 15px;
}

.logo__title {
  font-size: 1.56rem;
  color: $white;
  margin: 0;
  line-height: 29px;
}

.logo__description {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 14px;
  color: $gray;
  display: block;
}

.logo__image {
  margin-right: 16px;
}

@media (min-width: $min-mobile) and (max-width: $max-mobile) {
  .logo__title {
    display: none;
  }

  .logo__image {
    width: 38px;
    height: 38px;
    margin: 0;
  }
}
