.production {
  color: $white;
  margin: 0 auto;
  padding-top: 231px;
  position: relative;
  z-index: 1;
  width: 74vw;
  box-sizing: border-box;
}

.production::after {
  content: '';
  background: url('../img/chip-desktop.png'), url('../img/chip-triangle-desktop.png') no-repeat;
  background-position: 100% 100%, 0 110%;
  position: absolute;
  left: 787px;
  top: 172px;
  width: 705px;
  height: 515px;
  z-index: -1;
}

.production__title {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.production__description {
  font-weight: normal;
  font-size: 1.37rem;
  line-height: 34px;
  margin: 0;
  margin-bottom: 43px;
  margin-left: 95px;
  position: relative;
  max-width: 643px;
}

.production__description::before {
  content: '';
  position: absolute;
  left: -94px;
  top: 16px;
  width: 66px;
  height: 2px;
  background-color: $white;
}

.production__link {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: $light-blue;
  color: $white;
  box-sizing: border-box;
  padding: 17px 28px 14px 28px;
  text-transform: uppercase;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05rem;
  margin-left: 97px;
  margin-bottom: 88px;
  width: 21.2vw;
  min-height: 55px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .production {
    padding-top: 116px;
    width: 77vw;
    padding-right: 54px;
  }

  .production::after {
    content: '';
    position: absolute;
    background: url('../img/chip-tablet.png');
    left: 353px;
    top: -52px;
    width: 528px;
    height: 505px;
  }

  .production__title {
    line-height: 70px;
    letter-spacing: 0.07em;
    font-size: 3.75rem;
    margin-bottom: 30px;
  }

  .production__description {
    font-size: 1.12rem;
    margin-left: 51px;
    margin-bottom: 55px;
    line-height: 28px;
  }

  .production__description::before {
    width: 33px;
    left: -49px;
    top: 16px;
  }

  .production__link {
    width: 49.3vw;
    height: 55px;
    margin: 0 auto;
    margin-left: 50px;
  }
}

@media (min-width: $min-mobile) and (max-width: $max-mobile) {
  .production {
    width: 90vw;
  }

  .production::after {
    background: url('../img/chip-mobile.png') no-repeat;
    left: 10px;
    top: -101px;
    position: absolute;
  }

  .production__title {
    font-size: 2.5rem;
    line-height: 47px;
    margin-bottom: 28px;
  }

  .production__description {
    font-size: 1rem;
    line-height: 25px;
    margin-left: 50px;
    margin-bottom: 42px;
  }

  .production__description::before {
    width: 33px;
    left: -48px;
  }

  .production__link {
    width: 89.7vw;
    height: 55px;
    margin: 0 auto;
  }
}
