.sections {
  width: 27vw;
  font-size: 0.93rem;
  line-height: 25px;
  margin-right: 139px;
}

.sections__title {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 0.9rem;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0;
  margin-bottom: 26px;
  outline: none;
  background: transparent;
  border: none;
  transition: 0.4s;
  padding: 0;
}

.sections__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 240px 240px;
  grid-column-gap: 65px;
}

.sections__item--products {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.sections__item--production {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sections__item--montage {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.sections__link {
  text-decoration: none;
  opacity: 0.5;
  color: #1B2D37;
}

@media (max-width: 1919px) {
  .sections__list {
    grid-template-columns: 240px;
  }
}

@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .sections {
    padding-top: 38px;
    padding-left: 25px;
    margin-right: 22vw;
  }

  .sections__title {
    margin-bottom: 20px;
  }
}

@media (min-width: $min-mobile) and (max-width: $max-mobile) {
  .sections {
    padding: 26px 17px 22px 15px;
    margin: 0;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    width: 100vw;
    position: relative;
  }

  .sections__title {
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0;
  }

  .sections__title.active {
    margin-bottom: 33px;
  }

  .sections__title::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: #C4C4C4;
    right: 17px;
    top: 37px;
  }

  .sections__title::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: #C4C4C4;
    right: 17px;
    top: 37px;
    transform: rotate(-90deg);
  }

  .sections__list {
    display: none;
  }

  .sections__list.sections__list--nojs {
    display: block;
  }

  .sections__list.active {
    display: block;
  }
}
